.content
  .home.clearfix
    %h1 Welcome to CSI Solution Ltd
    %h2 Specialists in IP CCTV
    .video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "506", :src => "https://www.youtube.com/embed/JvsxaQ7k_BA", :width => "850"}
    .home_text.clearfix
      .body_text.split_7.column
        %h3 About CSI Solution
        %p CSI Solution Ltd is a company founded on the idea of Combined Security Intergration. At the forefront of technology, we will protect you and your business whatever your circumstance. With Rapid Deployment Cameras, we can mobilise complete CCTV coverage to your site in a very short space of time and through intruder and access control, we ensure you are protected into the future.
        %h3 Our Promise
        %p CSI Solution has a combined 30 years combined experience in the field of security camera solutions and access control, we have taken a fresh innovative approach to the security industry to meet the ever growing demands you face of protecting your staff and premises.
        %p With our dedicated team of Engineers and friendly administration staff we can provide you with professional help and advice on installation, maintenance and support anywhere in the United Kingdom.
      .split_3.column.right_img
        =image_tag("fpcsi.png")